.container {
  display: flex;
  justify-content: center;

  &__game {
    border: 1px solid black;
  }
}

.controlContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  height: 30px;

  &__timer {
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: -1;
    font-size: 20px;
    position: fixed;
  }

  &__beginBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    padding: 10px;
    background-color: green;
    width: 100px;
    color: white;
    cursor: pointer;
    border: none;

    &:disabled {
      opacity: 0.6;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    &__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-left: 15px;

      &__continuous {
        &:disabled {
          color: grey;
        }
      }
    }

    &__start {
      padding: 10px;
      background-color: green;
      margin-right: 15px;
      width: 100px;
      color: white;
      cursor: pointer;
      border: none;

      &:disabled {
        opacity: 0.6;
      }
    }

    &__stop {
      padding: 10px;
      width: 100px;
      background-color: red;
      color: white;
      cursor: pointer;
      border: none;
    }
  }
}

.transcription {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20px;
  color: green;
  font-size: 20px;
}

.level {
  width: 100%;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  justify-content: center;
  height: 30px;

  div {
    display: flex;
    justify-content: center;
    position: absolute;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    padding: 5px;
    background-color: lightgreen;
    border-radius: 50%;
  }
}
